<div class=" container w-1/4 items-center m-auto">
    <menu class="container flex">
        <ul class="space-x-5 flex justify-between m-auto mt-6">
            <li class="inline"><a routerLink="/producto" class="px-4 py-2 bg-gradient-to-l from-blue-500 to-blue-300 text-white hover:from-blue-700 hover:to-white hover:text-blue-600 rounded-md transition duration-300 ease-in-out">Producto</a></li>
            <li class="inline"><a routerLink="/producto/crear" class="px-4 py-2 bg-gradient-to-l from-blue-500 to-blue-300 text-white hover:from-blue-700 hover:to-white hover:text-blue-600 rounded-md transition duration-300 ease-in-out">Crear</a></li>
            <li class="inline"><a routerLink="/producto/listar" class="px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-300 text-white hover:from-blue-700 hover:to-white hover:text-blue-600 rounded-md transition duration-300 ease-in-out">Buscar</a></li>
        </ul>
    </menu>
</div>
