<div class=" container w-1/4 items-center m-auto">
    <menu class="container flex">
        <ul class="space-x-5 flex justify-between m-auto">
            <li class="inline"><a routerLink="/producto" class="hover:text-blue-600 focus:text-blue-600  focus:outline-none focus:font-semibold ">Producto</a></li>
            <li class="inline"><a routerLink="/producto/crear" class="hover:text-blue-600 focus:text-blue-600  focus:outline-none focus:font-semibold ">Crear</a></li>
            <li class="inline"><a routerLink="/producto/listar" class="hover:text-blue-600 focus:text-blue-600  focus:outline-none focus:font-semibold ">Buscar</a></li>
        </ul>
    </menu>
</div>
